.connect {
    margin-top: 50px;
}

.connect form {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.connect h2 {
    font-weight: 600;
    color: #1f73cb;
}

.connect h3 {
    font-weight: 200;
}

.connect label {
    font-size: large;
}

#description2 {
    width: 100%;
}

.formRow {
    display: flex;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;

}

.formGroup {
    flex: 1;
    margin-right: 1rem;
    min-width: 250px;

}

.formControl {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: large;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: none;
}

.invalidFeedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.asterik {
    color: #dc3545;
}

.submitButton {
    margin-top: 1rem;
    text-align: left;
}

.submitButton input[type="submit"] {
    background-color: #1f73cb;
    border: none;
    font-size: large;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

@media (max-width: 768px) {
    .formRow {
        flex-direction: column;
    }

    .formGroup {
        margin-right: 0;
        margin-bottom: 1rem;

    }

    .submitButton {
        text-align: center;
    }
}