:root {
    --color-darkest: #343a40;
    --color-dark: #495057;
    --color-medium: #ced4da;
    --color-light: #c1dbf5;

    --color-theme: #1098ad;
    --color-accent: #ffa94d;
}

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    color: var(--color-darkest);
    background-color: var(--color-light);
    padding: 3.2rem;
}

/* Apply only when the section becomes the target */
/* Apply to the scrolling container, often the body or main content area */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
    /* Height of the sticky navbar */
}



.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 50rem;
}

.app-header {
    width: 66rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem;
    background-color: #495057;
    border-radius: 100px;
}



h1 {

    font-size: 5.6rem;
}

h2 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

h4 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
}